{% extends "admin_dashboard/index.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static "css/admin.css" %}">
        <div class="admin-container">
            <h2>User Management</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="action-buttons">
                                <a href="{% url "update_user" user.id %}" class="btn btn-edit">Edit</a>
                                <a href="{% url "user_delete" user.id %}" class="btn btn-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %} 